<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Dude Intents.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Dude IntentsUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>Dude WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Dude.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Notification - WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DA6F4C471A1E439800D40186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DACFF3E11A8F8FCD00E3A784</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB4C5D901BF5EFA8002B5A58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB7B12171E3A6641009BC794</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB7B12211E3A6641009BC794</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
