<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Dude WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Dude.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Notification - Dude WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DA6F4C471A1E439800D40186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA6F4C601A1E439800D40186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAAA01451A2B79D800BA70AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DACFF3CF1A8F8FCC00E3A784</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DACFF3E11A8F8FCD00E3A784</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAF82FEE1A8F6197005994DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
